---
import Section from "../Section.astro";

import { work } from "@cv";
---

<Section title="Experiencia laboral">
  <ul>
    {
      work.map(
        ({ name, startDate, endDate, position, summary, highlights, url }) => {
          const startYear = new Date(startDate).getFullYear();
          const endYear =
            endDate != null ? new Date(endDate).getFullYear() : "Actual";
          const years = `${startYear} - ${endYear}`;

          // Divide el summary en elementos de lista
          const summaryItems = summary
            .split("- ")
            .filter((item) => item.trim() !== "");

          return (
            <li>
              <article>
                <header>
                  <div>
                    <h3>{position}</h3>
                    <h4>
                      <a href={url} title={`Ver ${name}`} target="_blank">
                        {name}
                      </a>
                    </h4>
                  </div>

                  <time>{years}</time>
                </header>

                <footer>
                  <ul>
                    {summaryItems.map((item) => (
                      <li>
                        <p>{item}</p>
                      </li>
                    ))}
                  </ul>
                </footer>
              </article>
            </li>
          );
        }
      )
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  ul ul {
    margin-top: 10px;
    margin-left: 22px;
    list-style: disc;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  article h3 {
    font-weight: 500;
    color: #111;
  }

  article a {
    color: #111;
  }

  article a:hover {
    text-decoration: underline;
  }

  article h4 {
    color: #222;
    font-weight: 400;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;
  }

  time {
    color: #555;
    font-size: 0.85rem;
    min-width: 102px;
  }

  @media (width <= 700px) {
    time {
      text-align: right;
    }
  }
</style>
